.button {
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    text-align: center;

    &.button-first {
        background-color: #d41a1c;
        color: white;
    }

    &.button-second {
        background-color: white;
    }
}
