@import './error';
@import '../variables';

.campo {
    margin-bottom: 1rem;

    & > * {
        display: block;
    }
}

input {
    margin: 0;
    width: 50%;
}

@media (max-device-width: $responsive) {
    input,
    textarea {
        width: 100%;
    }
}
