@import './error';

.campo {
    margin-bottom: 1rem;

    & > * {
        display: block;
    }
}

input {
    margin: 0;
    width: 50%;
}

@media screen and (max-width: 768px) {
    input,
    textarea {
        width: 100%;
    }
}
