@mixin alineacion-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin btn-area-menu-resp {
    background-color: white;
    color: red;
}

$opacidad: rgba(0, 0, 0, 0.7);
$a-scroll: white;
$button-responsive: white;
$header-bg-responsive: black;
$nav-bg-responsive: red;
$a-nav-responsive: white;
$a-cursos-responsive: red;

.header {
    background: none;
    @include alineacion-menu;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    transition: 0.5s;

    &.scroll {
        background-color: $opacidad;

        &.expandido {
            height: 150px;
            align-items: flex-start;
        }
    }

    header {
        display: flex;
        align-items: center;

        .boton-responsive {
            color: $button-responsive;
            font-size: 30px;
            display: none;
        }
    }

    &.scroll {
        color: $a-scroll;
        a {
            color: $a-scroll;
        }
    }

    nav {
        @include alineacion-menu;

        .nav-items {
            margin: 0px 10px;
            font-weight: bold;

            &.cursos-titulo {
                cursor: pointer;
            }

            .cursos {
                position: absolute;
                display: none;
                padding: 10px;
                padding-left: 0px;
                top: 40px;

                &.mostrar {
                    display: block;
                }

                .cursos-items {
                    margin: 10px 0px;
                }
            }
        }
    }
}

@media (max-device-width: 768px) {
    .header {
        flex-direction: column;

        header {
            background-color: $header-bg-responsive;
            width: 100vw;
            justify-content: space-between;
            position: relative;
            z-index: 600;

            div {
                margin: 0px 10px;
            }

            .boton-responsive {
                display: block;
                margin-left: 10px;
            }
        }

        nav {
            flex-direction: column;
            background-color: $nav-bg-responsive;
            color: white;
            width: 100vw;

            .nav-items {
                margin: 10px 0px;
                text-align: center;

                a {
                    color: $a-nav-responsive;
                }

                .cursos {
                    width: 100vw;
                    background-color: white;
                    position: relative;
                    text-align: center;
                    top: 0;
                    margin-top: 10px;

                    .cursos-items {
                        padding: 10px 0px;
                        a {
                            color: $a-cursos-responsive;
                        }
                    }
                }

                .cursos.responsive {
                    display: block;
                }
            }

            .button.button-first {
                @include btn-area-menu-resp;
                margin: 0;
            }
        }

        .menu {
            position: fixed;
            top: -50%;
            transition: all 0.5s;
            z-index: 450;

            &.responsive {
                top: 56px;
            }
        }
    }
}
