@import '../mixins';

.header {
    background: none;
    @include alineacion-menu;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    transition: 0.5s;

    &.scroll {
        background-color: $opacidad;

        &.expandido {
            height: 150px;
            align-items: flex-start;
        }
    }

    header {
        display: flex;
        align-items: center;

        .boton-responsive {
            color: $button-responsive;
            font-size: 30px;
            display: none;
        }
    }

    &.scroll {
        color: $a-scroll;
        a {
            color: $a-scroll;
        }
    }
}

@media (max-device-width: $responsive) {
    .header {
        flex-direction: column;

        header {
            background-color: $header-bg-responsive;
            width: 100vw;
            justify-content: space-between;
            position: relative;
            z-index: 600;

            div {
                margin: 0px 10px;
            }

            .boton-responsive {
                display: block;
                margin-left: 10px;
            }
        }
    }
}
