.modal {
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;

    .modal-content {
        background-color: white;
        width: 50%;
        position: relative;
        z-index: 1000;
        margin: 20% auto;
        padding: 2rem;
    }
}
