@import '../mixins';

.menu {
    @include alineacion-menu;

    .nav-items {
        margin: 0px 10px;
        font-weight: bold;

        &.cursos-titulo {
            cursor: pointer;
        }

        .cursos {
            position: absolute;
            display: none;
            padding: 10px;
            padding-left: 0px;
            top: 40px;

            &.mostrar {
                display: block;
            }

            .cursos-items {
                margin: 10px 0px;
            }
        }
    }
}

@media (max-device-width: $responsive) {
    .menu {
        flex-direction: column;
        background-color: $nav-bg-responsive;
        color: white;
        width: 100vw;
        position: fixed;
        top: -50%;
        transition: all 0.5s;
        z-index: 450;
        border-bottom: 1px solid white;

        &.responsive {
            top: 56px;
        }

        .nav-items {
            margin: 10px 0px;
            text-align: center;

            a {
                color: $a-nav-responsive;
            }

            .cursos {
                width: 100vw;
                background-color: white;
                position: relative;
                text-align: center;
                top: 0;
                margin-top: 10px;

                .cursos-items {
                    padding: 10px 0px;

                    a {
                        color: $a-cursos-responsive;
                    }
                }
            }

            .cursos.responsive {
                display: block;
            }
        }

        .button.button-first {
            @include btn-area-menu-resp;
            margin: 0;
        }
    }
}
