@import './variables';

@mixin fadeInOut {
    opacity: 0;
    transition: all 2s ease;

    &.mostrar {
        opacity: 1;
    }
}

@mixin alineacion-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin btn-area-menu-resp {
    background-color: white;
    color: $rojo;
}
