$rojo: #a21317;
$responsive: 768px;
$opacidad: rgba(0, 0, 0, 0.7);
$a-scroll: white;
$button-responsive: white;
$header-bg-responsive: black;
$nav-bg-responsive: $rojo;
$a-nav-responsive: white;
$a-cursos-responsive: $rojo;
$a-footer: white;
$bg-footer: black;
