@import './mixins';

@include imagen-de-fondo('./background/home01.jpg');

main {
    height: 90vh;
    display: flex;
    align-items: flex-end;

    .main {
        bottom: 10vh;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .call-action {
            display: flex;
        }
    }
}

.section1-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    .section1-card {
        margin-top: 50px;
        img {
            width: 100px;
            height: 100px;
        }
    }
}

.noticias-calendario {
    display: flex;
    justify-content: space-between;

    .noticias {
        text-align: left;
        width: 70%;
        margin-right: 30px;

        h1 {
            text-align: left;
        }

        .noticia {
            margin: 30px 0px;
        }
    }

    .calendario {
        width: 30%;
        border: 1px solid grey;
        padding: 30px 0px;
        text-align: center;

        .abierta {
            color: green;
        }
        .fecha {
            border: 1px solid grey;
            width: 10em;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 20px;

            .numero {
                font-size: 100px;
            }

            .mes {
                font-size: 30px;
            }
        }
    }
}

@media (max-device-width: 768px) {
    main {
        text-align: center;
    }
    .call-action {
        flex-direction: column;
    }
    .noticias-calendario {
        display: flex;
        flex-direction: column;

        .noticias {
            width: 100%;
        }

        .calendario {
            width: 100%;
        }
    }
}
