* {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    text-align: center;

    &.button-first {
        background-color: red;
        color: white;
    }

    &.button-second {
        background-color: white;
    }
}

// .resaltar {
//     font-weight: bold;
// }
