@import '../variables';

.noticia {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;

    h2 {
        margin-bottom: 0;
    }

    .noticia-img {
        width: 300px;
        max-width: 80vw;
        height: 200px;
        margin: 0;
        background-position: center;
        background-size: cover;
    }

    .detalles {
        margin-left: 1rem;
        width: 50%;
    }
}

@media (max-device-width: $responsive) {
    .noticia {
        flex-direction: column;

        .detalles {
            margin-left: 0;
            margin-top: 1rem;
            width: 100%;
        }
    }
}
