.section1-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    .section1-card {
        margin-top: 50px;
        img {
            width: 100px;
            height: 100px;
        }
    }
}
