@import '../variables';

.noticias-calendario {
    display: flex;
    justify-content: space-between;

    .noticias {
        text-align: left;
        width: 70%;
        margin-right: 30px;

        h2 {
            text-align: left;
        }

        .noticia-index {
            margin: 30px 0px;
        }
    }
}

@media (max-device-width: $responsive) {
    .call-action {
        flex-direction: column;
    }
    .noticias-calendario {
        display: flex;
        flex-direction: column;

        .noticias {
            width: 100%;
        }
    }
}
